
.poitns-accordion {
    .fourth-point {
      img {
        border-radius: 10px;
        height: auto !important;
        object-fit: initial;
        width: 300px;
      }
    }
    img {
      border-radius: 10px;
      height: auto;
      width: 300px;
      box-shadow: 0px 0px 5px 0px #747474b8;
    }
  }