
.poitns-accordion {
    .fourth-point {
      img {
        border-radius: 10px;
        height: auto !important;
        object-fit: initial;
        width: 300px;
      }
    }
    img {
      border-radius: 10px;
      height: auto;
      width: 300px;
      box-shadow: 4px 0px 4px 0px #747474b8;
    }
  }