@import "../../assets/scss//variables";

.form-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  input {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    height: 30px;
    margin: 1rem 0;
  }
  input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
  }
}

.toast-container,
.container--top-right {
  align-items: center;
  background-color: rgba(229, 237, 237, 0.76);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%  !important;
  justify-content: space-between;
  padding: 0 1rem;
  top: 0;
  transform: translateX(0);
  .Toastify__toast {
    border-radius: 5px;
    color: #707c83;
    max-width: 441px;
    top: 350px;
    width: 100%;
  }
}
