@import '../../assets/scss//variables';


.form-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    input {
        border-radius: 5px;
        border: 1px solid #d0d0d0;
        height: 30px;
        margin: 1rem 0;
    }

    button {
        background-color: $blue;
        border-radius: 5px;
        border: none;
        color: $purple-light;
        height: 30px;
        width: 80vw;
    }
}

.toast-container,
.container--top-right {
  top: 0;
  background-color: rgba(229,237,237,0.76);
  height: 100%;
  transform: translateX(0);

  .Toastify__toast {
    color: #707c83;
    top: 212px;
    margin: 0 17PX;
    padding: 5px;
  }

}

