@import '../../assets/scss/variables';

.navigation {
    align-items: center;
    background-color: #fff;
    box-shadow: 0px -1px 13px 6px $purple-light;
    color: black;
    display: flex;
    height: 60px;
    padding: 0.5rem 0rem;
    position: relative;
    width: 100%;
}

.brand-name {
    color: $blue;
    font-size: 1.3rem;
    margin-left: 1rem;
    text-decoration: none;
}

img {
    margin-left: 1rem;
    width: auto;
    height: 100%;
    object-fit: cover;
}
